@model IEnumerable<Seller>

@{

}
<h2>Sellers</h2>

<script type="text/javascript">
    function AnswerDelete(id)
    {
        if ( confirm("Do you want delete this seller?") == true)
        {
            window.location.href = '@Url.Action("Delete", "Sellers")?id=' + id + "&answer=true";
        }
        else
        {
            window.location.href = '@Url.Action("Delete", "Sellers")?id=' + id + "&answer=false";
        }
    }
 </script>

<a asp-action="Create" class="btn btn-primary">Create</a>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Birthday</th>
            <th>Salary</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var i in Model)
        {
            <tr>
                <td>
                    @i.Name
                </td>
                <td>
                    @i.Email
                </td>
                <td>
                    @i.BirthData.ToShortDateString()
                </td>
                <td>
                    @i.BaseSalary.ToString("F2")
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@i.Id">Edit</a>
                    <a asp-action="Details" asp-route-id="@i.Id">Details</a>
                    <a asp-action="Delete" asp-route-id="@i.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>